@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/*General setting*/
* {
    padding: 0;
    margin: 0;
}
:root{
    --primary-color: #edf2fc;
    --secondary-color: #212121;

}
.dark-theme{
    --primary-color: #212121;
    --secondary-color: #edf2fc; 
}
body{
    font-family: 'Poppins', sans-serif;
    background: var(--primary-color);
}
html{
    scroll-behavior: smooth;
}
/*Transitions*/
p{
    color: var(--secondary-color) ;
}
a, .btn{
    transition: all 300ms ease;
}
/* Navegation */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    
}
.nav-links{
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
    list-style: none;
    
}
a{
    color: black;
    text-decoration-color: aqua;
    text-decoration: none; 
       
}
.menu-links a:hover, a:hover{
    color: gray;
    text-decoration-color: rgb(174, 255, 0);
      
}

.logo{
    font-size: 2rem ;
}
.logo:hover{
    cursor: default;
}
#hamburger-nav{
    display: none;
}
.hamburger-menu{
    position: relative;
    display: inline-block;
    
}
.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
    
}
.hamburger-icon span{
    width: 100%;
    height: 3px;
    background-color: var(--secondary-color);
    transition: all 0.3s ease-in-out;
    
}
.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--primary-color-color);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    
}
.menu-links a {
    display: block;
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    color: var(--secondary-color);
    text-decoration: none;
    transition: all .5s ease-in-out;
}
.menu-links li{
    list-style: none;
}
.menu-links.open{
    max-height: 300px;
}
/* HAMBURGER ICON*/
.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px,5px);
}
.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px,-5px);
}
.hamburger-icon span:first-child{
    transform: none;
}
.hamburger-icon span:first-child{
    opacity: 1;
}
.hamburger-icon span:first-child{
    transform: none;
}


     /* PROFILE */
section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}
.section-container{
    display: flex;
    
}
#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}
.section_pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0 ;
}
.section_text{
    align-self: center;
    text-align: center;
}
.section_text p{
    font-weight: 600;
}
.section_text_p1{
    text-align: center;
    font-size: 1.5rem;
}
.section_text_p2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.title{
    font-size: 3rem;
    text-align: center;
}
.social-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}
.icon{
    cursor: pointer;
    height: 2rem;
}

/* BUTTON */
.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 20px;
    
    border: var(--secondary-color) 0.1rem solid;
}
.btn:hover{
    cursor: pointer;
}

.btn-color-2:hover, .btn-color-1{
   background: rgb(84, 84, 84);
   color: var(--primary-color);
}
.btn-color-1:hover{
    background: var(--secondary-color);
}
.btn-color-2{
    background: none;
}
.btn-color-2:hover{
    border: var(--primary-color) 0.1rem solid;
}
.btn-container{
    gap: 1rem;
}
/* ABOUT SECTION */
#about{
    position: relative;
}
.about-containers{
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.about-details-container{
    justify-content: center;
    flex-direction: column;
}
.about-containers, .about-details-container{
    display: flex;
}
.about-pic{
    border-radius: 2rem;
}
.arrow{
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}
.details-container{
    padding: 1.5rem;
    flex: 1;
    background: var(--primary-color);
    border-radius: 2rem;
    border: gray 0.1rem solid;
    text-align: center;
}
.section-container{
    gap: 4rem;
    height: 80%;
}
.section_pic-container{
    height: 400px;
    width: 400px;
    margin: auto 0;
}
/* EXPERIENCE */
#experience{
    position: relative;
}
.experience-sub-title{
    color: grey;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}
.experience-detailes-container{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.article-container{
    display: flex;
    text-align: initial;
    flex-wrap:wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}
article{
    display: flex;
    width: 10rem;

}
.experience-pic{
    border-radius: 2rem;
    height: 600px;
    width: 450px;
}
article .icon{
    cursor: default;
}
/* Projects Section */
#projects{
    position: relative;
}

.project-img{
    border-radius: 2rem;
    width: 90%;
    height: 90%;
    max-width: 600px;
    max-height:600px;
    
}
.project-title{
    color: var(--secondary-color);

}
/* CONTACT SECTION */
#contact{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    height: 700px;
}
.contact-info-upper-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: gray 0.1rem solid;
    background: var(--primary-color) ;
    margin: 2rem auto;
    padding: 0.5rem;
}
.contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}
.contact-info-container p {
    font-size: large;
}
/*  FOOTER */
footer{
    height: 26hv;
    margin: 0;
    background-color: rgba(128, 128, 128, 0.487);
}
footer p{
    text-align: center;
}
#icon-moon{
    width: 40px;
    cursor: pointer;
}
